<%- include("header") -%>

        <div class="container">
            <div class="operationbtns">
                <div class="operationbtnsdiv">
                    <button>ADD</button>
                    <button>DELETE</button>
                </div>
            </div>
            <div class="jobslist">
                <table>        
                                
                    <tr>
                        <tr>
                            <td>Job Id</td><td class="tabletext">Job Title 1</td><td>Date Modified</td><td class="tablebtns"><button><i class="fa-solid fa-angle-down"></i></button></td>
                        </tr>
                        <tr>
                            <div>
                            
                                <div>
                                    <p>Job category: Designing</p>
                                    <p>Employment Type: Part time</p>
                                    <p>Location : Hyderabad</p>
                                </div>
                                <div>
                                    <p>Salary : 50k</p>
                                    <p>Experience : 5 years</p>
                                    <p>No of positions: 6</p>
                                </div>
                                <div>
                                    <p>Job Description : Manage, architect, and analyze big data to build data driven business insights and high 
                                        impact data models to generate significant business value. Create models and processes to collect, distill and 
                                        interpret data with a view to aid better, more informed decision making. Examine and explore data from
                                        multiple disparate sources with the goal of discovering insights which in turn can provide competitive advantage for our stakeholders.
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        Qualification: Must Have Knowledge of statistical techniques and machine learning algorithms
                                        Artificial Intelligence
                                        Hands-on experience of analysis tools like R, Python
                                        Understanding of Text analysis- Natural Language processing (NLP)
                                        Knowledge on Google Cloud Platform
                                        Advanced Excel, PowerPoint skills
                                        Advanced communication (written and oral) and strong interpersonal skills
                                        Ability to work cross-culturally
                                        Good to have Deep Learning
                                        Human Resources experience
                                        VBA and visualization tools like Qliksense, Qlikview will be an added advantage
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        Roles and Responsiblities : Create insights from predictive statistical modeling, mathematical knowledge, tools, and techniques to solve complex problems and deliver value
                                        Implement new predictive and prescriptive solutions based upon business needs and requirements
                                        Translate business issues into specific requirements to develop analytic solutions, and identify appropriate data to support the solution
                                        Deliver large-scale programs that integrate processes with technology to help clients achieve high performance
                                        Responsible for implementation of complete big data solutions including data acquisition, storage, transformation, and analysis
                                        Manage a specific area of a project or entire project to solve analytics problems for clients
                                        Individual contributor and/or oversees a small work effort
                                        Work with minimal supervision
                                    </p>
                                </div>
                            
                            </div>
                        </tr>

                    </tr>
                    <tr><td>Job Id</td><td class="tabletext">Job Title 2</td><td>Date Modified</td><td class="tablebtns"><button><i class="fa-solid fa-angle-down"></i></button></td></tr>
                    <tr><td>Job Id</td><td class="tabletext">Job Title 3</td><td>Date Modified</td><td class="tablebtns"><button><i class="fa-solid fa-angle-down"></i></button></td></tr>
                    <tr><td>Job Id</td><td class="tabletext">Job Title 4</td><td>Date Modified</td><td class="tablebtns"><button><i class="fa-solid fa-angle-down"></i></button></td></tr>
                    <tr><td>Job Id</td><td class="tabletext">Job Title 5</td><td>Date Modified</td><td class="tablebtns"><button><i class="fa-solid fa-angle-down"></i></button></td></tr>
                    <tr><td>Job Id</td><td class="tabletext">Job Title 6</td><td>Date Modified</td><td class="tablebtns"><button><i class="fa-solid fa-angle-down"></i></button></td></tr>
                </table>
            </div>
        </div>
 
<%- include("footer") -%>