<%- include("header") -%>

        <div class="container">
            <div class="operationbtns">
                <div class="operationbtnsdiv">
                    <button>ADD</button>
                    <button>DELETE</button>
                </div>
            </div>
            <div class="jobslist">
                <table>        
                    <thead><tr><th>Job Id</th><th class="tabletext">Job Title </th><th class="tablebtns"> Edit</th></tr></thead>            
                    <tr><td>Job Id</td><td class="tabletext">Job Title 1</td><td class="tablebtns"><button>Edit</button></td></tr>
                    <tr><td>Job Id</td><td class="tabletext">Job Title 2</td><td class="tablebtns"><button>Edit</button></td></tr>
                    <tr><td>Job Id</td><td class="tabletext">Job Title 3</td><td class="tablebtns"><button>Edit</button></td></tr>
                    <tr><td>Job Id</td><td class="tabletext">Job Title 4</td><td class="tablebtns"><button>Edit</button></td></tr>
                    <tr><td>Job Id</td><td class="tabletext">Job Title 5</td><td class="tablebtns"><button>Edit</button></td></tr>
                    <tr><td>Job Id</td><td class="tabletext">Job Title 6</td><td class="tablebtns"><button>Edit</button></td></tr>
                </table>
            </div>
        </div>
 
<%- include("footer") -%>