<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/signup.css">
    <script src="js/signup.js" defer></script>
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="heading">
                <h1>Sign Up</h1>
            </div>
            <form id="signupform" action="" method=""  onsubmit="return validateForm()"  >     
                <p><%=message%></p>  
                <div id="error-message" style="text-align: center; font-weight: bold; font-size: large;"></div>
                
                <input class="inputs" id="firstname" name="firstname" type="text" placeholder="First Name" required>
                <input class="inputs" id="lastname" name="lastname" type="text" placeholder="Last Name" required>   
                <input class="inputs" id="username" name="username" type="text" placeholder="Username"  required>
                <input class="inputs" id="email" name="email" type="text" placeholder="Email"  required>
                <input class="inputs" id="password" name="password" type="password" placeholder="Password"  required>
                <input class="inputs" id="confirmpassword" name="confirmpassword" type="password" placeholder="Confirm Password"  required>
                <div class="submitbutton">
                    <button type="submit" class="submitbtn1" value="Sign Up" >SUBMIT</button>
                </div>
            </form>
        </div>
    </div>   
</body>
</html>