<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Pannel</title>
    
    <link rel="stylesheet" href="css/userslist.css">
</head>
<body>
    <div class="section1">
        <div class="navtext">
            <h1 >Admin Pannel</h1>
        </div>
        <div class="userlogo">
            <p>Saketh</p>
            <img src="images/Profile image.jpeg" alt="">
        </div>
    </div>
    <div class="section2">
        <div class="category">
            <div class="categoryblocks active"><a href="usersList.html"><p>Users List</p></a></div>
            <div class="categoryblocks"><a href="adminIndex.html"><p>Jobs List</p></a></div>
            <div class="categoryblocks"><a href="manageJobs.html"><p>Manage Job</p></a></div>  
            <div class="categoryblocks"><a href="applications.html"><p>Applications</p></a></div>
        </div>
        <div class="container">
            <div class="jobslist">
                <table>                    
                    <thead><tr><th>User Name</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Password</th></tr></thead>
                    <% for(let i=0;i<ulists.length;i++){ %>
                        <tr>
                            <td><%=ulists[i].userName %></td>
                            <td><%=ulists[i].firstName%></td>
                            <td><%=ulists[i].lastName%></td>
                            <td><%=ulists[i].email%></td>
                            <td>Encrpyted</td>
                        </tr>
                    <%}%>
                </table>
            </div>
        </div>
    </div>
</body>
</html>