<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <p id="three">TS JOBS</p>
            <p></p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links ">
            <h4>Navigation</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a style="text-decoration: none;" href="userpage">Home</a>
              </li>
              <li><i class="bi bi-chevron-right"></i> <a style="text-decoration: none;" href="contact_us">Contact Us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a style="text-decoration: none;" href="about_us">About</a>
              </li>

            </ul>
          </div>



          <div class="col-lg-4 col-md-6 footer-contact ">
            <a href="contact.html" style="text-decoration: none;">
              <h4>Contact Us</h4>
            </a>
            <p>
              Old aerodrome, Near Kondroprolu<br>
              Tadepalligudem<br>
              Andhra Pradesh <br>
              <strong>Phone : </strong> +91 9059141009<br>
              <strong>Mobile: </strong> +91 9390752201<br>
              <strong>Email : </strong> saisaketh5022@gmail.com<br>
              <strong>Email : </strong> burlisaitharun2401@gmail.com<br>
            </p>

            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/sakethr0ck/" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="skype"><i class="fa fa-skype"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container ">
      <div class="copyright py-4">
        &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
      </div>

    </div>
  </footer>